h1 {
    background-color: lightgoldenrodyellow
}
h2 {
    background-color: lightgoldenrodyellow
}
body {
    background-color: gray
}
.build {
    background-color: lightgoldenrodyellow;
    color: black;
    border: 2px soild black;
    margin: 20px;
    padding: 20px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}